venv
lvenv
__pycache__
.idea
.env

*.log
*.key
*.tmp
*.pid
.coverage
htmlcov
coverage.svg
pgdata
mysql_data
redis
media
celerybeat-schedule
node_modules
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
