[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
celery = "*"
requests = "*"
pillow = "*"
pyyaml = "*"
psutil = "*"
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django-redis = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
